h2{
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.about{
    padding: 8px;
    text-align: start;
    height: 800px;
}
.link-icons{
    margin-top: 30%;
    margin-left: 45%;
}
.card{
    margin: auto;
    padding: 5%;
    box-shadow: 50%;
}
@media (min-width : 100px) and (max-width : 900px){

    .about{
      
        padding: 2px;
        
        height: 550px;
    }
    .link-icons{
        margin-top: 40%;
        margin-left: 40%;

        
    }
    .card{
        margin: auto;
        padding: 5%;
        box-shadow: 50%;
    }



}
