.intro-page{
    background-image: url('../Images/backgroundPicture1.jpg');
    height: 700px;
    width: 100%;
    margin-top: 70px;
}
.button{
    position: inherit;
    padding-left: 10px;
 transform: translate(100px, 400px);
 z-index: 1;

}
h3{
    font-family: cursive;
    margin-top: 420px;
    margin-left: 35px;
    color:rgb(205, 193, 212)
}

@media (min-width : 100px) and (max-width : 900px){

    .intro-page{
        background-image: url('../Images/backgroundPicture2.jpg');
        height: 320px;
        width: 100%;
        margin-top: 75px;
    }
    .button{
    
     transform: translate(20px, 158px);
     position: absolute;
     z-index: 1;

    }
    h3{
        font-family: cursive;
        font-size: small;
        margin-top: 220px;
        margin-left: 35px;
        color:rgb(205, 193, 212)
    }




}