.content{
    transform: translateY(100px);
    text-align: center;
    

}
.return-button{
    margin-left: 60px !important;
    margin-top: 120px !important;
}



@media (min-width : 100px) and (max-width : 900px){

    .content{
        transform: translateY(30px);
        text-align: center;
    }


}