
/* topbar css */
.topbar{
  height: 70px;
  width: 100%;
  background-color: rgb(38, 38, 38);
  
  
}
.menubar{
  float: right;
}
.closed{
  visibility: hidden;
 
}
.closed.opened{
  margin: 70px;
  transform: translateY(80px);
  visibility: visible;
  background-color: rgb(112, 2, 155) ;
  color: white;
  padding: 04px;
  box-shadow: 60cm;
  border-radius: 16px;
  
}
.accordion-text{
  color: black;
  
}
.close-icon{
  /* margin-left: 800px; */
  margin-top: 0px;
  transform: translateY(-60px);
}




.App-header {
  background-color:white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  
  
}

@media (max-width :900px) {
  .closed{
    visibility: hidden; 
    margin: 31px;
    transform: translateY(80px);
  }
  .close-icon{
    margin-left: 200px;
    margin-top: 0px;
    transform: translateY(-60px);
  }









}




