
/* topbar css */
.topbar{
  height: 67px;
  width: 100%;
  background-color: rgb(38, 38, 38);
  
  
}
h1{
  color: white;
  float: left;
  margin-top: 10px;
  font-family: cursive;
 
}
.menubar{
  float: right;
  margin-top: 10px;
}
.closed{
  visibility: hidden;
 
}

.accordion-text{
  color: black;
  
}
.close-icon{
  margin-left: 70vw;
  margin-top: 0px;
  transform: translateY(-60px);
}
.closed.opened{
  width: 80vw;
  transform: translateY(95px);
  visibility: visible;
  background-color: rgb(112, 2, 155) ;
  color: white;
  border-radius: 16px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 3px;
  
  
}




.App-header {
  background-color:white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  
  
}

@media (max-width :900px) {
  .closed{
    visibility: hidden; 
    margin: 30px;
    transform: translateY(80px);
  }
  .close-icon{
    margin-left: 60vw;
    margin-top: 0px;
    transform: translateY(-60px);
  }
  .closed.opened{
    width: 80vw;
    transform: translateY(60px);
    visibility: visible;
    background-color: rgb(112, 2, 155) ;
    color: white;
    border-radius: 16px;
    margin-left: 9vw;
    margin-right: 10vw;
    padding-top: 1px;
   
    
  }

}




